<article id="storyBody" class="sc-d27b254-11 gcctYt vsmcontent vsmcontent">


  <div class="custom-text "><h2><strong> Calendario del Mundial de Clubes 2025</strong></h2></div>
  <div class="custom-text "><p><strong><u>Detalles de los encuentros grupales por fecha y ubicación:</u></strong></p></div>

  <div class="custom-text "><p><strong>SÁBADO 14 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Inter Miami 0-0 Al Ahly FC (Hard Rock Stadium, Miami)</p></div>

  <div class="custom-text "><p><strong>DOMINGO 15 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Bayern Múnich 10-0 Auckland City FC (TQL Stadium, Cincinnati)</p></div>
  <div class="custom-text "><p>Paris Saint-Germain 4-0 Atlético Madrid (Rose Bowl Stadium, Los Angeles)</p></div>
  <div class="custom-text "><p>Botafogo 2-1 Seattle Sounders (Lumen Field, Seattle)</p></div>
  <div class="custom-text "><p>Palmeiras 0-0 Porto (MetLife Stadium, New York)</p></div>

  <div class="custom-text "><p><strong>LUNES 16 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Chelsea 2-0 LAFC (Mercedes Benz Stadium, Atlanta)</p></div>
  <div class="custom-text "><p>Boca 2-2 Benfica (Hard Rock Stadium, Miami)</p></div>

  <div class="custom-text "><p>Flamengo 2-0 Espérance Sportive (Lincoln Financial Field, Philadelphia)</p></div>

  <div class="custom-text "><p><strong>MARTES 17 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Fluminense 0-0 Borussia Dortmund (MetLife Stadium, New York)</p></div>
  <div class="custom-text "><p>River Plate 3-1 Urawa Red Diamonds (Lumen Field, Seattle)</p></div>
  <div class="custom-text "><p>Ulsan HD 0-1 Mamelodi Sundowns (Inter&amp;Co Stadium, Orlando)</p></div>
  <div class="custom-text "><p>Monterrey 1-0 Inter de Milán (Rose Bowl Stadium, Los Angeles)</p></div>


  <div class="custom-text "><p><strong>MIÉRCOLES 18 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Manchester City 2-0 Wydad AC (Lincoln Financial Field, Philadelphia)</p></div>
  <div class="custom-text "><p>Real Madrid 1-1 Al Hilal (Hard Rock Stadium, Miami)</p></div>
  <div class="custom-text "><p>Pachuca 1-2 FC Salzburgo (TQL Stadium, Cincinnati)</p></div>
  <div class="custom-text "><p>Juventus 5-0 Al Ain FC (Audi Field, Washington D.C.)</p></div>

  <div class="custom-text "><p><strong>JUEVES 19 DE JUNIO</strong></p></div>
  <div class="custom-text "><p>Palmeiras 2-0 Al Ahly FC (MetLife Stadium, New York)</p></div>
  <div class="custom-text "><p>Inter Miami 2-1 Porto (Mercedes Benz Stadium, Atlanta)</p></div>
  <div class="custom-text "><p>Seattle Sounders 1-3 Atlético Madrid (Lumen Field, Seattle)</p></div>
  <div class="custom-text "><p>París Saint Germain 0-1 Botafogo  (Rose Bowl Stadium, Los Angeles)</p></div>


<div class="custom-text "><p><strong>VIERNES 20 DE JUNIO</strong></p></div>
<div class="custom-text "><p>Benfica 6-0 Auckland City FC (Inter&amp;Co Stadium, Orlando)</p></div>
<div class="custom-text "><p>Flamengo 3-1 Chelsea (Lincoln Financial Field, Philadelphia)</p></div>
<div class="custom-text "><p>LAFC 0-1 Espérance Sportive (Geodis Park, Nashville)</p></div>
<div class="custom-text "><p>Boca Juniors 1-2 Bayern Múnich (Hard Rock Stadium, Miami)</p></div>

<div class="custom-text "><p><strong>SÁBADO 21 DE JUNIO</strong></p></div>
<div class="custom-text "><p>Borussia Dortmund 4-3 Mamelodi Sundowns FC (TQL Stadium, Cincinnati)</p></div>
<div class="custom-text "><p>Inter 2-1 Urawa Red Diamonds (Lumen Field, Seattle)</p></div>
<div class="custom-text "><p>Fluminense 4-2 Ulsan HD (MetLife Stadium, New York)</p></div>
<div class="custom-text "><p>River Plate 0-0 Monterrey (Rose Bowl Stadium, Los Angeles)</p></div>

<div class="custom-text "><p><strong>DOMINGO 22 DE JUNIO</strong></p></div>
<div class="custom-text "><p>Juventus 4-1 Wydad AC (Lincoln Financial Field, Philadelphia) </p></div>
<div class="custom-text "><p>Real Madrid 3-1 Pachuca (Bank of America Stadium, Charlotte) </p></div>
<div class="custom-text "><p>FC Salzburgo 0-0 Al Hilal (Audi Field, Washington D.C.)</p></div>
<div class="custom-text "><p>Manchester City 6-0 Al Ain FC (Mercedes Benz Stadium, Atlanta)</p></div>

<div class="custom-text "><p><strong>LUNES 23 DE JUNIO</strong></p></div>
<div class="custom-text "><p> {{ horario1 }} - Atlético Madrid vs. Botafogo (Rose Bowl Stadium, Los Angeles)</p></div>
<div class="custom-text "><p> {{ horario1 }} - París Saint Germain vs. Seattle Sounders (Lumen Field, Seattle)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Porto vs. Al Ahly FC (MetLife Stadium, New York)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Inter Miami vs. Palmeiras (Hard Rock Stadium, Miami)</p></div>

<div class="custom-text "><p><strong>MARTES 24 DE JUNIO</strong></p></div>
<div class="custom-text "><p> {{ horario1 }} - Benfica vs. Bayern Múnich (Bank of America Stadium, Charlotte)</p></div>
<div class="custom-text "><p> {{ horario1 }} - Boca Juniors vs. Auckland City FC (Geodis Park, Nashville)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Flamengo vs. LAFC (Camping World Stadium, Orlando)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Chelsea vs. Espérance Sportive (Lincoln Financial Field, Philadelphia)</p></div>

<div class="custom-text "><p><strong>MIÉRCOLES 25 DE JUNIO</strong></p></div>
<div class="custom-text "><p> {{ horario1 }} - Borussia Dortmund vs. Ulsan HD (TQL Stadium, Cincinnati)</p></div>
<div class="custom-text "><p> {{ horario1 }}- Fluminense vs. Mamelodi Sundowns FC (Hard Rock Stadium, Miami)</p></div>
<div class="custom-text "><p> {{ horario2 }}  - Monterrey vs. Urawa Red Diamonds (Rose Bowl Stadium, Los Angeles)</p></div>
<div class="custom-text "><p> {{ horario2 }}  - River Plate vs. Inter de Milán (Lumen Field, Seattle)</p></div>

<div class="custom-text "><p><strong>JUEVES 26 DE JUNIO</strong></p></div>
<div class="custom-text "><p> {{ horario1 }} - Juventus vs. Manchester City (Camping World Stadium, Orlando)</p></div>
<div class="custom-text "><p> {{ horario1 }} - Wydad AC vs. Al Ain FC (Audi Field, Washington D.C.)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Pachuca vs. Al Hilal (Geodis Park, Nashville)</p></div>
<div class="custom-text "><p> {{ horario2 }} - Real Madrid vs. FC Salzburgo (Lincoln Financial Field, Philadelphia)</p></div>


<div class="custom-text "><p>• OCTAVOS DE FINAL</p></div>
<div class="custom-text "><p>Sábado 28 de junio - 12:00 ET: 1A vs. 2B (Lincoln Financial Field, Philadelphia) Partido 49</p></div>
<div class="custom-text "><p>Sábado 28 de junio - 16:00 ET: 1C vs. 2D (Bank of America Stadium, Charlotte) Partido 50</p></div>
<div class="custom-text "><p>Domingo 29 de junio - 12:00 ET: 1B vs. 2A (Mercedes Benz Stadium, Atlanta) Partido 51</p></div>
<div class="custom-text "><p>Domingo 29 de junio - 16:00 ET: 1D vs. 2C (Hard Rock Stadium, Miami) Partido 52</p></div>
<div class="custom-text "><p>Lunes 30 de junio - 15:00 ET: 1E vs. 2F (Bank of America Stadium, Charlotte) Partido 53</p></div>
<div class="custom-text "><p>Lunes 30 de junio - 21:00 ET: 1G vs. 2H (Camping World Stadium, Orlando) Partido 54</p></div>
<div class="custom-text "><p>Martes 1 de julio - 15:00 ET: 1H vs. 2G (Hard Rock Stadium, Miami) Partido 55</p></div>
<div class="custom-text "><p>Martes 1 de julio - 21:00 ET: 1F vs. 2E (Mercedes Benz Stadium, Atlanta) Partido 56</p></div>

<div class="custom-text "><p>•<strong> CUARTOS DE FINAL</strong></p></div>
<div class="custom-text "><p>Viernes 4 de julio - 15:00 ET: Ganador P53 vs. Ganador P54 (Camping World Stadium, Orlando)</p></div>
<div class="custom-text "><p>Viernes 4 de julio - 21:00 ET: Ganador P49 vs. Ganador P50 (Lincoln Financial Field, Philadelphia)</p></div>
<div class="custom-text "><p>Sábado 5 de julio - 12:00 ET: Ganador P51 vs. Ganador P52 (Mercedes Benz Stadium, Atlanta)</p></div>
<div class="custom-text "><p>Sábado 5 de julio - 16:00 ET: Ganador P55 vs. Ganador P56 (MetLife Stadium, New York)</p></div>

<div class="custom-text "><p><strong>• SEMIFINALES</strong></p></div>
<div class="custom-text "><p>Martes 8 de julio - 15:00 ET (MetLife Stadium, New York)</p></div>
<div class="custom-text "><p>Miércoles 9 de julio - 15:00 ET (MetLife Stadium, New York)</p></div>

<div class="custom-text "><p><strong>• FINAL</strong></p></div>
<div class="custom-text "><p>Domingo 13 de julio - 15:00 ET (MetLife Stadium, New York)</p></div>
</article>
