<div class="body">
  <div class="card-body">
    <form>
    <div class="nb-2">
      <label class="form-label">
        Nombre
      </label>

      <input type="text" [FormControl]="name" class="form-control" placeholder="Ingrese su nombre, por favor">
     <div class="nb-2">
      <label class="form-label">
        E-mail
      </label>

      <input type="text" [FormControl]="email" class="form-control" placeholder="Ingrese su e-mail, por favor">

       <div class="nb-2">
      <label class="form-label">
        Fanatico de
      </label>

      <input type="text" [FormControl]="fanaticoDe" class="form-control" placeholder="Ingrese su equipo favorito">
    </div>

    <button class="btn-btn-primary">Enviar</button>

    </form>
  </div>
</div>
